.intro-section {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
}

.sidebar::before {
  content: "";
  background-image: url('./../../images/edward-saavedra.svg');
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-repeat: no-repeat;
  opacity: .3;
}

.intro-wrapper {
  position: relative;
}

.intro-section img.profile-pic {
  display: block;
  width: 12vw;
  height: 12vw;
  margin: 7rem auto 2rem auto;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid #4f749e;
  background-color: #dae9f8;
}

.intro-section h1 {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
}

.intro-section p {
  line-height: 1.8rem;
  padding: 1rem;
  max-width: 23rem;
  margin: 0 auto;
}

@media screen and (max-width: 670px) {
  .intro-section img.profile-pic {
    width: 30vw;
    height: 30vw;
  }
}
